<!--=============== footer ===============-->
<footer>
    <div class="footer-social">
        <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i><span>facebook</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i><span>tumblr</span></a></li>
        </ul>
    </div>
</footer>
<!-- footer end -->