<!--  Navigation -->
<div class="nav-overlay"></div>
<div class="nav-inner isDown">
    <nav>
        <ul>
            <li class="subnav">
                <a href="index.php" class="ajax">Home</a>
            </li>
            <li><a href="about.php" class="ajax"> About </a></li>
            <li class="subnav">
                <a href="portfolio.php" class="ajax">Work</a>
            </li>
            <li><a href="services.php" class="ajax">Services</a></li>
            <li><a href="contact.php" class="ajax">Contact</a></li>
            <li><a href="team.php">Team</a></li>
        </ul>
    </nav>
</div>
<!--  Navigation end -->