body {
    background-color: #111111;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    margin: 20px;
}

nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

nav a {
    color: gray;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    color: white;
}

.logo {
    width: 120px;
    height: 30;
}

.banner{
    width: 100%;
}

.music{
    width: 50%;
    margin: auto;
}

.section{
    display: flex;
}

.video{
    width: 50%;
    margin: auto;
    padding: 10px;
}

iframe{
    width: 95%;
    height: 350px;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
}

.text{
    color: gray;
}

.photos{
    width: 50%;
    margin: auto;
    padding: 15px;
}

.text:hover{
    color: white;
}

.photos img{
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.music img{
    width: 150px;
    height: 150px;
}

table{
    margin: 10px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

th, td{
    padding-left: 20px;
}

.social img{
    width: 25px;
    height: 25px;
    padding-right: 15px;
}

footer{
    margin: 20px;
}